//- mixin jpg(src,width,height,alt)
//- 	picture
//- 		source(srcset=`${src}.webp`, type='image/webp')
//- 		img( src=`${src}.jpg`,width=width, height=height, alt=alt, loading="lazy" )

//- mixin png(src,width,height,alt)
//- 	picture
//- 		source(srcset=`${src}.webp`, type='image/webp')
//- 		img( src=`${src}.png`,width=width, height=height, alt=alt, loading="lazy" )

mixin image(src,width,height,alt)
	img( src=`${src}.webp`,width=width, height=height, alt=alt, loading="lazy" )

//- Одноцветные иконки.
mixin icon-mono(name)
	svg(class="icon icon-" + name)&attributes(attributes)
		use(xlink:href="img/sprites/sprite-mono.svg#" + name)

//- Цветные иконки.
mixin icon-multi(name)
	svg(class="icon icon-" + name)&attributes(attributes)
		use(xlink:href="img/sprites/sprite-multi.svg#" + name)

//- Сложные изображения.
mixin svg(name, className)
	svg(class="svg" + ' ' + className, data-svg-name=name)
